@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-base leading-[150%] text-contrast-base bg-body;
  }
}

@layer components {
  /* Link */

  .link {
    @apply text-primary-base;
  }

  /* Button */

  .btn {
    @apply rounded-lg heading-s p-3 transition-colors;
  }

  .btn[disabled] {
    @apply opacity-25 cursor-not-allowed;
  }

  .btn.variant-primary {
    @apply text-surface bg-primary-base;
  }

  .btn.variant-primary:hover:not([disabled]) {
    @apply bg-primary-hover;
  }

  .btn.variant-secondary {
    @apply text-primary-base bg-transparent border border-primary-base;
  }

  .btn.variant-secondary:hover:not([disabled]) {
    @apply bg-primary-light;
  }

  /* Typography */

  .heading-m, .heading-s {
    @apply font-bold text-contrast-dark;
  }

  .heading-m {
    font-size: 1.5rem;
  }

  .heading-s {
    font-size: 1rem;
  }

  .body-m {
    font-size: 1rem;
  }

  .body-s {
    font-size: .75rem;
  }

  @media (min-width: 48rem) {
    .heading-m {
      font-size: 2rem;
    }
  }

  /* Input */

  .input {
    @apply px-4 py-3 border border-border rounded-lg bg-surface;
  }

  .input:focus {
    @apply outline-none border-primary-base;
  }
}